#father1{
    background-image: url(./images/Group\ 7100.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#father2{
    background-image: url(./images/bg\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}